@use "../../constants";

$menu-width: 100%;

.collections {
  position: fixed;
  z-index: 2;
  background-color: #f9faff;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $menu-width;
  height: 100%;
  padding: 22px 26px;
  font-size: 16px;
  overflow: scroll;
  transition: 0.28s;
  transform: translateX(calc($menu-width * -1));
}

.show {
  transform: translateX(0);
}
.form {
  width: 228px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 16px;
  margin-top: 12px;
}

.form label {
  border-radius: 56px;
  border: 1px grey solid;
  background-color: #f7f8fa;
  padding-left: 10px;
}

.form label input {
  border: none;
  height: 32px;
  font-size: 14px;
  outline: none;
  background: none;
}

.form button {
  color: white;
  background-color: rgb(19, 140, 19);
  border: none;
  font-size: 15px;
  letter-spacing: 0.7px;
  border-radius: 56px;
  padding: 0 14px;
}

.collections_list {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  div {
    display: flex;
  }
  button {
    width: 225px;
    height: 42px;
    color: white;
    background-color: constants.$main_color;
    border: transparent 1px;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 14px;
    margin: 5px;
    text-align: left;
  }
  .delete_button {
    background-color: rgb(232, 4, 4);
    width: 42px;
    padding-left: 16px;
  }
}

@media (max-width: 768px) {
  .form {
    margin-top: 2px;
  }
}
