.form {
  justify-self: center;
  display: grid;
  grid-template-columns: 120px 120px 90px;
  grid-auto-rows: 30px;
  gap: 14px;
  margin-bottom: 19px;
}

.form input {
  border-radius: 56px;
  padding: 0 12px;
  border: 1px grey solid;
  height: 30px;
  width: 102px;
}

.form button {
  color: white;
  background-color: rgb(1, 154, 1);
  font-size: 14.5px;
  letter-spacing: 0.7px;
  border: none;
  border-radius: 56px;
  width: 58px;
  height: 32px;
}

@media screen and (max-width: 550px) {
  .form {
    grid-template-columns: 120px 120px 70px;
  }
}
