.form {
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: 120px 120px 90px;
  grid-auto-rows: 30px;
  gap: 10px;
  margin-bottom: 16px;
}

.form input {
  border-radius: 5px;
  border: 1px grey solid;
}

.form button {
  color: white;
  background-color: rgb(19, 140, 19);
  border: none;
  border-radius: 5px;
}

@media screen and (max-width: 550px) {
  .form {
    grid-template-columns: 120px 120px 70px;
  }
}
