@font-face {
  font-family: "Cormorant";
  src: url("./media/Cormorant-Medium.ttf");
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.app h2 {
  margin: 10px 0;
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: "Cormorant", sans-serif;
  font-weight: 500;
  color: rgb(51, 51, 51);
}

@media (max-width: 768px) {
  * {
    margin: 0;
  }
}
