@import "../../constants.scss";

.card {
  font-size: 24px;
  border-radius: 9px;
  perspective: 1000px; // for the 3D effect
}

.card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: center;
}

.flipped .card_inner {
  transform: rotateY(180deg);
}

.card_front,
.card_back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px $main-color;
  border-radius: 9px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; // for Safari
  backface-visibility: hidden;
}

.card_front {
  color: $main-color;
}

.card_back {
  background-color: $main-color;
  color: white;
  transform: rotateY(180deg);
}

.button {
  border: none;
  background: red;
  border-radius: 16px;
  color: white;
  width: 27px;
  height: 27px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
  transition: 0.25s;
}

.button:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 650px) {
  .card {
    font-size: 22px;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    font-size: 9px;
    margin-top: 1px;
    margin-right: 1px;
  }
}
