@font-face {
  font-family: "Cormorant";
  src: url("./media/Cormorant-Medium.ttf");
}

.main_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 85px;
  margin-bottom: 50px;
  h2 {
    margin: 10px 0;
    text-align: center;
    font-size: 29px;
    letter-spacing: 1px;
    font-family: "Cormorant", sans-serif;
    font-weight: 500;
    color: rgb(51, 51, 51);
  }
}

@media (max-width: 768px) {
  * {
    margin: 0;
  }
  .main_page {
    margin-top: 69px;
  }
}
