@use "../../constants";

.header {
  background-color: constants.$main-color;
  position: fixed;
  z-index: 50;
  display: grid;
  grid-template-columns: 1fr 80px 40px 11px;
  text-align: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 77px;
  font-size: 20px;
  font-family: "Didot", serif;
  font-family: "Lato", sans-serif;
  letter-spacing: 3.3px;
  .title {
    font-size: 28px;
    padding-left: 70px;
  }
  a {
    padding-top: 3px;
    color: white;
    text-decoration: none;
    &:hover {
      color: constants.$icon-hover;
    }
  }
  a.active {
    background-color: transparent;
    color: white;
  }
  .user_name {
    background-color: constants.$main-color;
    align-self: center;
    color: white;
    font-family: "Cambria", serif;
    &:hover {
      color: constants.$icon-hover;
    }
  }
}

@media (max-width: 768px) {
  .header {
    height: 66px;
    .title {
      padding-top: 3px;
      font-size: 21px;
      padding-left: 80px;
    }
    a {
      padding-top: 6px;
    }
    .user_name {
      font-size: 17px;
    }
  }
}
