.card {
  /* padding: 90px; */
  /* margin: 20px; */
  font-size: 22px;
  border-radius: 9px;
  border: solid 3px rgb(41, 128, 185);
  color: rgb(41, 128, 185);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
