.triggers button {
  color: white;
  background-color: green;
  border: transparent 1px;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 60px;
}

.red button {
  background-color: red;
}

button.red {
  background-color: red;
}
